@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,700,900&display=swap);

:root {
	font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	background-color: rgba(129, 154, 209, 0.521);
}